<h1>Painel do Administrador</h1>
<hr>

        <br>
    <section class="container-adm-grid">
    
        <a href="/admin/instrumento"class="adm"><h4>Instrumentos</h4></a>
        <a href="/admin/usuario/cadastro" class="adm"><h4>Usuários</h4></a>
        <a href="/admin/aula/a/index" class="adm"><h4>Aulas (em andamento)</h4></a>
        <a href="/admin/categoria"class="adm"><h4>Categorias (em andamento)</h4></a>
    
    </section>

