{{#each erros}}
    <p class="alert alert-danger">{{texto}}</p>
{{else}}

{{/each}}


<h2>Login:</h2>
<section class="card">
    
    <form action="/admin/login" class="card-body" method="post">
        <label for="email" class="form-label">E-mail:</label>
            <input type="email" name="email" class="form-control" required placeholder="Insira o e-mail cadastrado">
        <label for="senha" class="form-label">Senha:</label>
            <input type="password" name="senha" class="form-control" required placeholder="Insira sua senha"> <br>

        <button type="submit" class="btn btn-success">Entrar</button> 
        <br>
    </form>


</section>