<h2>Lista de Usu치rio</h2>
<hr>

<a href="/admin/usuario/cadastro/add"><button class="btn btn-success">Novo Usu치rio</button><br></a>

<br><br>
{{#each usuarios}}
<br>
    <section class="card">
        <article class="card-body mt-1">
            <p><strong>Usu치rio:</strong> {{nome}}</p>
            <p><strong>E-mail:</strong>  {{email}}</p>
            <p><strong>Tipo:</strong>    {{type}}</p>
        </article>
    </section>

{{else}}
<h4 class="mt-3">Nenhum usu치rio registrado</h4>
{{/each}}
