<section class="container card">
    
    <p><strong>Título:</strong> {{aula.titulo}} <br>
    <strong>Nível:</strong> {{categoria}} <br>
    <strong>Instrumento:</strong> {{aula.instrumento.name}}</p>
    <iframe width="560" height="315" src="{{aula.link}}"  frameborder="0"></iframe>
    
    <br>

</section>